@model CartListViewModel

@{
	ViewData["Title"] = "Index";
}


@section Styles
    {
    <link rel="stylesheet" href="~/css/Customer/cart.css" />
}


<div class="container  h-page flex-center">
    <div class="h-page w-100 row m-0 py-4 p-md-0 text-center text-md-end">
        <form class=" d-flex flex-column justify-content-between rounded-second bg-opacity shadow my-4 p-4" method="get" asp-area="Customer" asp-controller="Cart" asp-action="Summary">

            @* <input type="hidden" name="bookId" value="@Model.id" />  *@
            @* <input type="hidden" name="Price" value="@Model.Price" /> *@

            <div class="row m-0 mb-4">
                <div class="col flex-between">
                    <h4>سلة المشتريات</h4>
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn shadow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9998 19.92L8.47984 13.4C7.70984 12.63 7.70984 11.37 8.47984 10.6L14.9998 4.08" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="row m-0  align-content-center justify-content-center  gy-5 gy-md-0">

                <table>
                    <thead>
                        <tr>
                            <th>صورة الكتاب</th>
                            <th>عنوان الكتاب</th>
                            <th>السعر</th>
                            <th>الكمية</th>
                            <th>الإجمالي</th>
                            <th>حذف</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.CartItems.Count > 0) {

                            @foreach (var item in Model.CartItems)
                            {
                                <tr>
                                    <td>
                                        @if (!string.IsNullOrWhiteSpace(item.BookCoverImage))
                                        {
                                            <img src="@item.BookCoverImage">
                                        }
                                        else
                                        {
                                            <img src="https://placehold.co/500x600/png" class="card-img-top rounded" />
                                        }
                                    </td>
                                    <td>@item.BookTitle</td>
                                    <td>@item.BookPrice</td>
                                    <td>@item.Quantity</td>
                                    <td>@item.SubTotal</td>
                                    <td>
                                        <a data-id="@item.Id" class="btn btn-icon btn-red delete-button">
                                            <svg width="24" height="24" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                                                <path d="M14.387 4.42172C12.1312 4.19817 9.86187 4.08301 7.59929 4.08301C6.258 4.08301 4.91671 4.15075 3.57542 4.28623L2.19348 4.42172" stroke="#F9F9F9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M5.91931 3.73752L6.06834 2.8501C6.17673 2.20655 6.25802 1.72559 7.40286 1.72559H9.1777C10.3225 1.72559 10.4106 2.23365 10.5122 2.85688L10.6612 3.73752" stroke="#F9F9F9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M12.9307 6.5625L12.4903 13.3841C12.4158 14.4477 12.3549 15.2741 10.4649 15.2741H6.11583C4.22583 15.2741 4.16486 14.4477 4.09035 13.3841L3.65002 6.5625" stroke="#F9F9F9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M7.15894 11.5483H9.41474" stroke="#F9F9F9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                                <path d="M6.59668 8.83862H9.98378" stroke="#F9F9F9" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                            </svg>
                                        </a>
                                    </td>
                                </tr>
                            }
                        }
                        else {
                            <tr>
                                <td colspan="6" class="text-center">
                                    لا توجد عناصر في السلة حتى الآن.
                                </td>
                            </tr>
                        }
                        
                    </tbody>
                </table>
            </div>

            <hr class="mt-4" />
            <div class="row m-0 ">
                  @if (Model.CartItems.Count > 0) {
                    <div class="col flex-start gap-5">
                        <a id="delete-cart" class="btn btn-sm btn-red-open">
                            مسح السلة
                        </a>
                    </div>

                  }
                <div class="col flex-end gap-5">
                    <div class="fw-bold"> الإجمالي</div>
                    <div>@Model.OrderTotalAmount $</div>
                </div>
            </div>
            <div class="row m-0 flex-center mt-4">
                <button class="btn btn-input btn-main" type="submit" @(Model.CartItems.Count <= 0 ? "disabled" : "")> اشتري الآن </button>
            </div>


        </form>
    </div>
</div>


@section Scripts {
    <script type="module" src="~/js/Customer/delete-orderItem.js" asp-append-version="true"></script>
}
