@model OrderSummaryViewModel

@{
	ViewData["Title"] = "Summary";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/Customer/summary.css" />
}
<div class="container book-details-container h-page flex-center">
    <div class="h-100 w-100 row m-0 py-4 p-md-0 text-center text-md-end">
        <form class=" d-flex flex-column justify-content-between rounded-second bg-opacity shadow p-4" method="post" asp-area="Customer" asp-controller="Book" asp-action="Details">
            @* <input type="hidden" name="bookId" value="@Model.Id" /> *@
            @* <input type="hidden" name="Price" value="@Model.Price" /> *@

            <div class="row m-0 mb-4">
                <div class="col flex-between">
                    <h4>معلومات الشحن</h4>
                    <a asp-area="Customer" asp-controller="Cart" asp-action="Index" class="btn shadow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9998 19.92L8.47984 13.4C7.70984 12.63 7.70984 11.37 8.47984 10.6L14.9998 4.08" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="row row-col-3 m-0  align-content-center justify-content-center  gy-5 gy-md-0">
                
                <div class="col-4 p-0 ">

                    <div class="row">
                        <div class="col-12">
                            <table>
                                <thead>
                                    <tr>
                                        <th>عنوان الكتاب</th>
                                        <th>السعر</th>
                                        <th>الكمية</th>
                                        <th>الإجمالي</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    @foreach (var item in Model.CartItems)
                                    {
                                        <tr>
                                            <td>@item.BookTitle</td>
                                            <td>@item.BookPrice</td>
                                            <td>@item.Quantity</td>
                                            <td>@item.SubTotal</td>
                                        </tr>
                                    }
                                </tbody>
                            </table>
                        </div>
                        <hr />
                        <div class="col-12 m-0 ">
                            <div class="col flex-end gap-5">
                                <div> الإجمالي</div>
                                <div>@Model.OrderTotalAmount $</div>
                            </div>
                        </div>
                        <div class="col-12 m-0 flex-center mt-4">
                            <a asp-area="Customer" asp-controller="Cart" asp-action="Summary" class="btn btn-input btn-main " type="submit">أضف إلى السلة</a>
                        </div>
                    </div>

                    
                </div>
                <div class="col-4 p-0 ">

                </div>


            </div>

          


        </form>
    </div>
</div>


@section Scripts {
    <script type="module" src="~/js/Customer/delete-orderItem.js" asp-append-version="true"></script>
}
