@model List<OrderListForCustomerViewModel>

@{
    ViewData["Title"] = "Index";
}


@section Styles
{
    <link rel="stylesheet" href="~/css/Customer/cart.css" />
}


<div class="container  h-page flex-center">
    <div class="h-page w-100 row m-0 py-4 p-md-0 text-center text-md-end">
        <form class=" d-flex flex-column justify-content-between rounded-second bg-opacity shadow my-4 p-4" method="get" asp-area="Customer" asp-controller="Cart" asp-action="Summary">

            @* <input type="hidden" name="bookId" value="@Model.id" />  *@
            @* <input type="hidden" name="Price" value="@Model.Price" /> *@

            <div class="row m-0 mb-4">
                <div class="col flex-between">
                    <h4>إدارة المشتريات</h4>
                    <a asp-area="Customer" asp-controller="Home" asp-action="Index" class="btn shadow">
                        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                            <path d="M14.9998 19.92L8.47984 13.4C7.70984 12.63 7.70984 11.37 8.47984 10.6L14.9998 4.08" stroke="#292D32" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                        </svg>
                    </a>
                </div>
            </div>

            <div class="row m-0  align-content-center justify-content-center  gy-5 gy-md-0">

                <table>
                    <thead>
                        <tr>
                            <th>معرف الطلب</th>
                            <th>تاريخ الطلب</th>
                            <th>الإجمالي</th>
                            <th>حالة الطلب</th>
                            <th>رقم الشحنة</th>
                            <th>شركة الشحن</th>
                        </tr>
                    </thead>
                    <tbody>

                        @if (Model.Count > 0)
                        {

                            @foreach (var order in Model)
                            {
                                <tr>
                                    <td>@order.Id</td>
                                    <td>@order.CreatedDate</td>
                                    <td>@order.TotalAmoumt</td>
                                    <td id="status" data-status="@order.Status">@order.Status</td>
                                    <td>@order.TrackingNumber</td>
                                    <td>@order.Carrier</td>
                                </tr>
                            }
                        }
                        else
                        {
                            <tr>
                                <td colspan="6" class="text-center">
                                    لاتوجد طلبات لك حتى الان
                                </td>
                            </tr>
                        }

                    </tbody>
                </table>
            </div>

            @if (Model.Count == 0)
            {
                <div class="row m-0 flex-center mt-4">
                    <button asp-area="Customer" asp-controller="Book" asp-action="Index" class="btn btn-input btn-main">تابع تسوقك</button>
                </div>
            }


        </form>
    </div>
</div>


@section Scripts {
    <script type="module" src="~/js/Customer/set-status.js" asp-append-version="true"></script>
}
