@model HomeViewModel

@{
    // Layout = "_Layout";
    ViewData["Title"] = "Home Page";
}

@section Styles
{
    <link rel="stylesheet" href="~/css/Customer/home.css" />
}


<!-- landing page -->
<section id="home"
      class="landing text-md-end bg-main overflow-hidden">
    <div class="container color-text bg-transparent text-center h-100 d-flex justify-content-center align-items-center">
        <div class="landing-content d-flex flex-column justify-content-center align-items-center gap-5 gap-md-4 ">
            <h1 class="m-0 w-75 display-4 fw-bold">إستكشف العالم من خلال الكتب</h1>

            <div class="search-box w-100 position-relative">
                <input class="form-control p-2 p-sm-3 rounded-main shadow-main" type="text" placeholder="البحث عن كتاب" aria-label="default input example">
        
            </div>
            <div class="row m-0 w-100">
                <div class="col-4">
                    <h4>100 الف</h4>
                    <p>كتاب</p>
                </div>
                <div class="col-4">
                    <h4>مليون</h4>
                    <p>عملية شراء</p>
                </div>
                <div class="col-4">
                    <h4>10 الأف</h4>
                    <p>مستخدم</p>
                </div>
            </div>
            </div>
        </div>
</section>

<section class="middle-image w-100 flex-center bg-text">
    <div class="middle-img-container">
         <img src="~/images/Landing-Girl-Image.svg" alt="" class="w-100 h-100 " />
   </div>
</section>

<!-- books section -->
<section id="books" class="books bg-text py-5">
    <div class="container mb-5">
        <div class="row m-0 mb-4">

            <div class="d-flex justify-content-between">
                <h2 class="text-end m-0 pe-4 ms-auto">الكتب الأكثر مبيعًا</h2>
                <div class="flex-center ps-4 ">
                    <h4 class="m-0">الكل</h4>
                    <a asp-area="Customer" asp-controller="Book" asp-action="Index"><i class="fa-regular fa-circle-left fs-4 color-main p-1 pointer hover-second"></i></a>
                </div>
            </div>

            <div class="row m-0 flex-wrap row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 g-4">
                @foreach (var book in Model.BestSellingBooks)
                {

                    <div class="col card-box">
                        <div data-state="جديد" class="card card-buy">
                            <div class="card-image">
                                <img src="@book.CoverImage" class="card-img-top" alt="Book Cover" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@book.Title</h5>
                                <p class="card-text">@book.AuthorName</p>
                                <div class="card-price">
                                    <p>السعر</p>
                                    <p>@book.Price<span>$</span></p>
                                </div>
                                <a href="#" class="btn card-btn">أضف إلى السلة</a>
                            </div>
                        </div>
                    </div>
                }
               

            </div>
        </div>

        <div class="row m-0 mb-4">

            <div class="d-flex justify-content-between">
                <h2 class="text-end m-0 pe-4 ms-auto">الكتب المضافة حديثا</h2>
                <div class="d-flex justify-content-center align-items-center ps-4 ">
                    <h4 class="m-0">الكل</h4>
                    <a asp-area="Customer" asp-controller="Book" asp-action="Index"><i class="fa-regular fa-circle-left fs-4 color-main p-1 pointer hover-second"></i></a>
                </div>
            </div>

            <div class="most-recent-books row m-0 flex-wrap row-cols-1 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xxl-5 g-4">
                @foreach (var book in Model.LastAddedPublishedBooks)
                {
                    <div class="col card-box">
                        <div data-state="جديد" class="card card-buy">
                            <div class="card-image">
                                <img src="@book.CoverImage" class="card-img-top" alt="Book Cover" />
                            </div>
                            <div class="card-body">
                                <h5 class="card-title">@book.Title</h5>
                                <p class="card-text">@book.AuthorName</p>
                                <div class="card-price">
                                    <p>السعر</p>
                                    <p>@book.Price<span>$</span></p>
                                </div>
                                <a href="#" class="btn card-btn">أضف إلى السلة</a>
                            </div>
                        </div>
                    </div>
                }

                
            </div>
        </div>

    </div>
</section>


@section Scripts {
    <script src="/js/Customer/home.js"></script>

}