@using BookStore.Models.Identity
@using BookStore.Utilties
@using Microsoft.AspNetCore.Identity
@inject UserManager<ApplicationUser> UserManager

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - BookStore.Web</title>

    <partial name="_StyleLinksPartial"></partial>

    <link rel="stylesheet" href="~/css/Admin/dashboardLayout.css" asp-append-version="true" />

    @await RenderSectionAsync("Styles", required: false)

</head>


<body dir="rtl">
    <div class="dashboard row m-0 page-heihgt w-100 ">

        <aside class="sidebar col-2 h-100 bg-opacity">
            <div class="container d-flex flex-column align-items-start h-100">
                <div class="logo-box py-3 w-100">
                    <svg width="96" height="43" viewBox="0 0 96 43" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <path d="M9.55442 37.337C8.11393 37.337 6.87922 37.1126 5.8503 36.6636C4.82138 36.2333 3.97018 35.6346 3.2967 34.8676C2.62322 34.1006 2.12747 33.2307 1.80944 32.2579C1.49141 31.2851 1.33239 30.2655 1.33239 29.1992C1.33239 28.2638 1.46335 27.3004 1.72525 26.3089C1.98716 25.3174 2.39873 24.3633 2.95996 23.4466C3.14704 23.1286 3.32476 22.9415 3.49313 22.8854C3.6615 22.8105 3.86729 22.8105 4.11049 22.8854L6.01867 23.5588C6.35541 23.6711 6.53313 23.8207 6.55184 24.0078C6.57055 24.1762 6.50507 24.4194 6.35541 24.7374C5.98126 25.4483 5.70064 26.1124 5.51356 26.7298C5.32649 27.3471 5.23295 27.9738 5.23295 28.6099C5.23295 29.4143 5.40132 30.1346 5.73806 30.7706C6.0935 31.4254 6.62667 31.9305 7.33756 32.286C8.04845 32.6601 8.96513 32.8472 10.0876 32.8472H11.9677C13.2211 32.8472 14.1846 32.7256 14.8581 32.4824C15.5502 32.2392 15.8963 31.8744 15.8963 31.388C15.8963 31.0887 15.8028 30.8548 15.6157 30.6865C15.4286 30.5181 15.1667 30.4339 14.83 30.4339H13.1744C12.7628 30.4339 12.557 30.2188 12.557 29.7885V26.6456C12.557 26.2153 12.7628 26.0002 13.1744 26.0002H20.1336C20.4142 26.0002 20.5545 26.1405 20.5545 26.4211V29.9288C20.5545 30.4526 20.2739 30.7145 19.7127 30.7145H18.478L17.4117 29.1431C18.1038 29.4798 18.5809 29.8259 18.8428 30.1814C19.1234 30.5368 19.2637 30.9951 19.2637 31.5564C19.2637 32.4918 19.0953 33.3149 18.7586 34.0258C18.4406 34.7554 17.9635 35.3634 17.3275 35.8498C16.6914 36.3362 15.9057 36.701 14.9703 36.9442C14.0349 37.2061 12.9592 37.337 11.7432 37.337H9.55442ZM9.18962 42.5004C9.07738 42.6126 8.93707 42.6594 8.7687 42.6407C8.60033 42.6407 8.45067 42.5846 8.31972 42.4723L6.97276 41.1254C6.86052 40.9944 6.79504 40.8447 6.77633 40.6764C6.77633 40.508 6.84181 40.3677 6.97276 40.2554L8.31972 38.9085C8.45067 38.7775 8.59098 38.7121 8.74064 38.7121C8.90901 38.7121 9.05867 38.7775 9.18962 38.9085L10.5085 40.2554C10.6395 40.3677 10.7049 40.508 10.7049 40.6764C10.7237 40.8634 10.6675 41.0225 10.5366 41.1534L9.18962 42.5004ZM13.0902 42.5004C12.9779 42.6126 12.8376 42.6594 12.6693 42.6407C12.5196 42.6407 12.3793 42.5846 12.2483 42.4723L10.8733 41.1254C10.7611 40.9944 10.6956 40.8447 10.6769 40.6764C10.6769 40.508 10.7424 40.3677 10.8733 40.2554L12.2483 38.9085C12.3793 38.7775 12.5196 38.7121 12.6693 38.7121C12.8189 38.7121 12.9499 38.7775 13.0621 38.9085L14.4091 40.2554C14.54 40.3677 14.6055 40.508 14.6055 40.6764C14.6242 40.8634 14.5681 41.0225 14.4371 41.1534L13.0902 42.5004ZM19.7169 30.7145C19.4363 30.7145 19.2959 30.5742 19.2959 30.2936V26.842C19.2959 26.2808 19.5766 26.0002 20.1378 26.0002H20.3342C21.0825 26.0002 21.6251 25.8131 21.9618 25.439C22.2985 25.0648 22.4669 24.3913 22.4669 23.4185V20.7527C22.4669 20.2289 22.7101 19.967 23.1965 19.967H25.4975C25.9839 19.967 26.2271 20.2289 26.2271 20.7527V23.4185C26.2271 24.41 26.4329 25.0929 26.8445 25.467C27.2748 25.8225 27.9389 26.0002 28.8369 26.0002H29.1175C29.3981 26.0002 29.5384 26.1405 29.5384 26.4211V29.8727C29.5384 30.4339 29.2578 30.7145 28.6966 30.7145C27.7238 30.7145 26.8164 30.5368 25.9746 30.1814C25.1327 29.8072 24.4593 29.1524 23.9542 28.217C23.5239 29.2086 22.9252 29.8727 22.1582 30.2094C21.4099 30.5462 20.5961 30.7145 19.7169 30.7145ZM24.6276 36.2707C24.4967 36.383 24.3377 36.4297 24.1506 36.411C23.9822 36.411 23.8326 36.3549 23.7016 36.2426L22.2985 34.8396C22.1863 34.7086 22.1302 34.559 22.1302 34.3906C22.1302 34.2222 22.1863 34.0632 22.2985 33.9135L23.7016 32.5105C23.8326 32.3795 23.9822 32.314 24.1506 32.314C24.319 32.314 24.4686 32.3795 24.5996 32.5105L25.9746 33.9135C26.1243 34.0632 26.1991 34.2222 26.1991 34.3906C26.2178 34.559 26.1617 34.718 26.0307 34.8676L24.6276 36.2707ZM28.7053 30.7145C28.4247 30.7145 28.2844 30.5742 28.2844 30.2936V26.842C28.2844 26.2808 28.565 26.0002 29.1262 26.0002H29.3227C30.071 26.0002 30.6135 25.8131 30.9502 25.439C31.287 25.0648 31.4554 24.3913 31.4554 23.4185V20.7527C31.4554 20.2289 31.6986 19.967 32.185 19.967H34.486C34.9724 19.967 35.2156 20.2289 35.2156 20.7527V23.4185C35.2156 24.41 35.4214 25.0929 35.833 25.467C36.2632 25.8225 36.9274 26.0002 37.8253 26.0002H38.1059C38.3866 26.0002 38.5269 26.1405 38.5269 26.4211V29.8727C38.5269 30.4339 38.2463 30.7145 37.685 30.7145C36.7122 30.7145 35.8049 30.5368 34.9631 30.1814C34.1212 29.8072 33.4477 29.1524 32.9426 28.217C32.5123 29.2086 31.9137 29.8727 31.1467 30.2094C30.3984 30.5462 29.5846 30.7145 28.7053 30.7145ZM31.5957 17.5256C31.4834 17.6378 31.3338 17.694 31.1467 17.694C30.9783 17.694 30.8286 17.6285 30.6977 17.4975L29.2946 16.0945C29.1824 15.9635 29.1169 15.8138 29.0982 15.6455C29.0982 15.4771 29.1637 15.3181 29.2946 15.1684L30.6977 13.7654C30.8286 13.6344 30.9783 13.5689 31.1467 13.5689C31.315 13.5689 31.4647 13.6344 31.5957 13.7654L32.9987 15.1684C33.1297 15.3181 33.1952 15.4865 33.1952 15.6735C33.2139 15.8419 33.1578 15.9916 33.0268 16.1225L31.5957 17.5256ZM35.9171 17.5256C35.7862 17.6566 35.6365 17.7127 35.4682 17.694C35.2998 17.6753 35.1501 17.6098 35.0192 17.4975L33.588 16.0945C33.4758 15.9635 33.4197 15.8138 33.4197 15.6455C33.4197 15.4584 33.4758 15.2994 33.588 15.1684L35.0192 13.7654C35.1501 13.6344 35.2904 13.5689 35.4401 13.5689C35.6085 13.5689 35.7581 13.6344 35.8891 13.7654L37.2922 15.1684C37.4418 15.3181 37.5167 15.4771 37.5167 15.6455C37.5354 15.8138 37.4699 15.9729 37.3202 16.1225L35.9171 17.5256ZM37.6938 30.7145C37.4132 30.7145 37.2729 30.5742 37.2729 30.2936V26.842C37.2729 26.2808 37.5535 26.0002 38.1147 26.0002H45.1582C45.8503 26.0002 46.3461 25.8692 46.6454 25.6073C46.9447 25.3267 47.0944 24.9526 47.0944 24.4849C47.0944 24.1855 46.9728 23.9143 46.7296 23.6711C46.5051 23.4092 46.1964 23.1566 45.8036 22.9134L40.0229 19.1251C39.7423 18.9567 39.5178 18.7603 39.3494 18.5358C39.1998 18.3113 39.1249 17.9746 39.1249 17.5256V14.5791C39.1249 14.1302 39.1904 13.8121 39.3214 13.625C39.471 13.438 39.6955 13.2883 39.9948 13.1761L50.4618 8.93877C50.7237 8.84523 50.9201 8.85458 51.0511 8.96683C51.2007 9.06037 51.2662 9.24744 51.2475 9.52806V11.9414C51.2475 12.2033 51.1914 12.4278 51.0791 12.6148C50.9856 12.8019 50.8172 12.9422 50.574 13.0358L42.352 16.2348L46.926 19.3496C47.8988 19.8547 48.6939 20.3598 49.3113 20.8649C49.9286 21.37 50.387 21.9219 50.6863 22.5206C50.9856 23.1192 51.1353 23.8488 51.1353 24.7094C51.1353 25.9628 50.8359 27.0385 50.2373 27.9364C49.6574 28.8344 48.8623 29.5266 47.8521 30.013C46.8606 30.4807 45.7287 30.7145 44.4566 30.7145H37.6938Z" fill="#110F0F" />
                        <path d="M64.4309 26.3077H59.1693M59.1693 36.8307H80.2155C81.8501 36.8307 82.6673 36.8307 83.311 36.5642C83.7369 36.3879 84.1238 36.1294 84.4497 35.8035C84.7756 35.4776 85.0341 35.0906 85.2104 34.6647C85.477 34.0211 85.477 33.2038 85.477 31.5692C85.477 29.9346 85.477 29.1173 85.2104 28.4737C85.0341 28.0478 84.7756 27.6608 84.4497 27.3349C84.1238 27.009 83.7369 26.7505 83.311 26.5743C82.6673 26.3077 81.8501 26.3077 80.2155 26.3077H76.7078H85.477C87.1116 26.3077 87.9289 26.3077 88.5725 26.0411C88.9984 25.8648 89.3854 25.6063 89.7113 25.2804C90.0372 24.9545 90.2957 24.5675 90.472 24.1417C90.7385 23.498 90.7385 22.6807 90.7385 21.0461C90.7385 19.4115 90.7385 18.5943 90.472 17.9506C90.2957 17.5247 90.0372 17.1378 89.7113 16.8119C89.3854 16.4859 88.9984 16.2275 88.5725 16.0512C87.9289 15.7846 87.1116 15.7846 85.477 15.7846H59.1693H78.4616C80.0962 15.7846 80.9135 15.7846 81.5572 15.518C81.983 15.3417 82.37 15.0832 82.6959 14.7573C83.0218 14.4314 83.2803 14.0445 83.4566 13.6186C83.7232 12.9749 83.7232 12.1576 83.7232 10.5231C83.7232 8.88847 83.7232 8.07117 83.4566 7.42751C83.2803 7.00165 83.0218 6.6147 82.6959 6.28878C82.37 5.96287 81.983 5.70438 81.5572 5.5281C80.9135 5.26151 80.0962 5.26151 78.4616 5.26151H59.1693" stroke="#674FCD" stroke-width="2.63077" stroke-linecap="round" stroke-linejoin="round" />
                        <path d="M76.7078 15.7846V26.6409C76.7078 28.5964 76.7078 29.5733 76.136 29.7803C75.5625 29.9907 74.9153 29.2471 73.6228 27.7633L72.7774 26.7952C72.1583 26.0849 71.8496 25.7306 71.4462 25.7306C71.0428 25.7306 70.7342 26.0849 70.1133 26.7952L69.2715 27.7633C67.9771 29.2471 67.33 29.9907 66.7582 29.7803C66.1847 29.5733 66.1847 28.5964 66.1847 26.6409V15.7846" stroke="#674FCD" stroke-width="2.63077" stroke-linecap="round" stroke-linejoin="round" />
                    </svg>
                </div>
                <nav class="navbar d-flex flex-column h-100 w-100">
                    <ul class="navbar-nav w-100 px-1 gap-1">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Index" class="nav-link @Html.IsActive("Admin/Dashboard/Index")">
                                <svg class="ms-2" width="22" height="23" viewBox="0 0 22 23" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.26837 3.19556L3.32754 7.04556C2.50254 7.68723 1.83337 9.05306 1.83337 10.0889V16.8814C1.83337 19.0081 3.56587 20.7497 5.69254 20.7497H16.3075C18.4342 20.7497 20.1667 19.0081 20.1667 16.8906V10.2172C20.1667 9.10806 19.4242 7.68723 18.5167 7.05473L12.8517 3.08556C11.5684 2.18723 9.50587 2.23306 8.26837 3.19556Z" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M11 17.0831V14.3331" stroke="white" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                الرئيسية
                            </a>
                            </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Book" asp-action="Index" class="nav-link @Html.IsActive("Admin","Book")">
                                <svg class="ms-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M20.1666 15.345V4.28084C20.1666 3.18084 19.2683 2.36501 18.1774 2.45668H18.1224C16.1974 2.62168 13.2733 3.60251 11.6416 4.62918L11.4858 4.73001C11.2199 4.89501 10.7799 4.89501 10.5141 4.73001L10.2849 4.59251C8.65325 3.57501 5.73825 2.60334 3.81325 2.44751C2.72242 2.35584 1.83325 3.18084 1.83325 4.27168V15.345C1.83325 16.225 2.54825 17.05 3.42825 17.16L3.69409 17.1967C5.68325 17.4625 8.75409 18.4708 10.5141 19.4333L10.5508 19.4517C10.7983 19.5892 11.1924 19.5892 11.4308 19.4517C13.1908 18.48 16.2708 17.4625 18.2691 17.1967L18.5716 17.16C19.4516 17.05 20.1666 16.225 20.1666 15.345Z" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M11 5.0325V18.7825" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M7.10425 7.7825H5.04175" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M7.79175 10.5325H5.04175" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            الكتب</a>
                            </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="User" asp-action="Index" class="nav-link @Html.IsActive("Admin","User")">
                                <svg class="ms-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M8.3966 9.96418C8.30493 9.95501 8.19493 9.95501 8.0941 9.96418C5.91243 9.89084 4.17993 8.10334 4.17993 5.90334C4.17993 3.65751 5.99493 1.83334 8.24993 1.83334C10.4958 1.83334 12.3199 3.65751 12.3199 5.90334C12.3108 8.10334 10.5783 9.89084 8.3966 9.96418Z" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M15.0425 3.66666C16.8208 3.66666 18.2508 5.10582 18.2508 6.87499C18.2508 8.60749 16.8758 10.0192 15.1617 10.0833C15.0883 10.0742 15.0058 10.0742 14.9233 10.0833" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M3.81341 13.3467C1.59507 14.8317 1.59507 17.2517 3.81341 18.7275C6.33424 20.4142 10.4684 20.4142 12.9892 18.7275C15.2076 17.2425 15.2076 14.8225 12.9892 13.3467C10.4776 11.6692 6.34341 11.6692 3.81341 13.3467Z" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16.8118 18.3333C17.4718 18.1958 18.0951 17.93 18.6084 17.5358C20.0384 16.4633 20.0384 14.6942 18.6084 13.6217C18.1043 13.2367 17.4901 12.98 16.8393 12.8333" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            المستخدمين</a>
                            </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Order" asp-action="Index" class="nav-link @Html.IsActive("Admin","Order")">
                                <svg class="ms-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M2.90576 6.82001L10.9999 11.5042L19.0391 6.84751" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M11 19.8092V11.495" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M9.10258 2.27334L4.20758 4.98667C3.09842 5.60084 2.19092 7.14084 2.19092 8.40584V13.585C2.19092 14.85 3.09842 16.39 4.20758 17.0042L9.10258 19.7267C10.1476 20.3042 11.8618 20.3042 12.9068 19.7267L17.8018 17.0042C18.9109 16.39 19.8184 14.85 19.8184 13.585V8.40584C19.8184 7.14084 18.9109 5.60084 17.8018 4.98667L12.9068 2.26417C11.8526 1.68667 10.1476 1.68667 9.10258 2.27334Z" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            الطلبات</a>
                            </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Category" asp-action="Index" class="nav-link @Html.IsActive("Admin","Category")">
                                <svg class="ms-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M8.24992 20.1667H13.7499C18.3333 20.1667 20.1666 18.3333 20.1666 13.75V8.25001C20.1666 3.66668 18.3333 1.83334 13.7499 1.83334H8.24992C3.66659 1.83334 1.83325 3.66668 1.83325 8.25001V13.75C1.83325 18.3333 3.66659 20.1667 8.24992 20.1667Z" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15.5834 2.23666V11.385C15.5834 13.1908 14.2909 13.8967 12.7051 12.9433L11.4951 12.2192C11.2201 12.0542 10.7801 12.0542 10.5051 12.2192L9.29508 12.9433C7.70925 13.8875 6.41675 13.1908 6.41675 11.385V2.23666" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M8.24992 20.1667H13.7499C18.3333 20.1667 20.1666 18.3333 20.1666 13.75V8.25001C20.1666 3.66668 18.3333 1.83334 13.7499 1.83334H8.24992C3.66659 1.83334 1.83325 3.66668 1.83325 8.25001V13.75C1.83325 18.3333 3.66659 20.1667 8.24992 20.1667Z" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M15.5834 2.23666V11.385C15.5834 13.1908 14.2909 13.8967 12.7051 12.9433L11.4951 12.2192C11.2201 12.0542 10.7801 12.0542 10.5051 12.2192L9.29508 12.9433C7.70925 13.8875 6.41675 13.1908 6.41675 11.385V2.23666" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                التصنيفات
                            </a>
                            </li>
                    </ul>
                    <ul class="navbar-nav w-100 px-1 gap-1">
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Help" class="nav-link @Html.IsActive("Admin/Dashboard/Help")">
                                <svg class="ms-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M11 13.75C12.5188 13.75 13.75 12.5188 13.75 11C13.75 9.48122 12.5188 8.25 11 8.25C9.48122 8.25 8.25 9.48122 8.25 11C8.25 12.5188 9.48122 13.75 11 13.75Z" stroke="#CFD0D6" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M1.83325 11.8066V10.1933C1.83325 9.23998 2.61242 8.45165 3.57492 8.45165C5.23408 8.45165 5.91242 7.27832 5.07825 5.83915C4.60158 5.01415 4.88575 3.94165 5.71992 3.46498L7.30575 2.55748C8.02992 2.12665 8.96492 2.38332 9.39575 3.10748L9.49658 3.28165C10.3216 4.72082 11.6783 4.72082 12.5124 3.28165L12.6133 3.10748C13.0441 2.38332 13.9791 2.12665 14.7033 2.55748L16.2891 3.46498C17.1233 3.94165 17.4074 5.01415 16.9307 5.83915C16.0966 7.27832 16.7749 8.45165 18.4341 8.45165C19.3874 8.45165 20.1758 9.23082 20.1758 10.1933V11.8066C20.1758 12.76 19.3966 13.5483 18.4341 13.5483C16.7749 13.5483 16.0966 14.7216 16.9307 16.1608C17.4074 16.995 17.1233 18.0583 16.2891 18.535L14.7033 19.4425C13.9791 19.8733 13.0441 19.6166 12.6133 18.8925L12.5124 18.7183C11.6874 17.2791 10.3308 17.2791 9.49658 18.7183L9.39575 18.8925C8.96492 19.6166 8.02992 19.8733 7.30575 19.4425L5.71992 18.535C4.88575 18.0583 4.60158 16.9858 5.07825 16.1608C5.91242 14.7216 5.23408 13.5483 3.57492 13.5483C2.61242 13.5483 1.83325 12.76 1.83325 11.8066Z" stroke="#CFD0D6" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            المساعدة</a>
                            </li>
                        <li class="nav-item">
                            <a asp-area="Admin" asp-controller="Dashboard" asp-action="Settings" class="nav-link @Html.IsActive("Admin/Dashboard/Settings")">
                                <svg class="ms-2" width="22" height="22" viewBox="0 0 22 22" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M10.9999 20.1666C16.0416 20.1666 20.1666 16.0416 20.1666 11C20.1666 5.95831 16.0416 1.83331 10.9999 1.83331C5.95825 1.83331 1.83325 5.95831 1.83325 11C1.83325 16.0416 5.95825 20.1666 10.9999 20.1666Z" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M11 7.33331V11.9166" stroke="#CFD0D6" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                    <path d="M10.9949 14.6667H11.0031" stroke="#CFD0D6" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                                الاعدادات
                            </a>
                        </li>
                    </ul>
                </nav>
            </div>
        </aside>

        <div class="content-container col-10 h-100 bg-text p-0">

            <nav class="navbar header-nav navbar-expand-lg bg-opacity ">
                <h3 class="navbar-nav p-2 fw-bold">@ViewData["Section"]</h3>
                <ul class="navbar-nav me-auto mb-0">
                    <li class="nav-item">
                        <a class="nav-link active p-2 color-black"
                            aria-current="page"
                            asp-area="Customer" asp-controller="Home" asp-action="Index">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M11.9166 21.6666C17.3014 21.6666 21.6666 17.3014 21.6666 11.9166C21.6666 6.53185 17.3014 2.16663 11.9166 2.16663C6.53185 2.16663 2.16663 6.53185 2.16663 11.9166C2.16663 17.3014 6.53185 21.6666 11.9166 21.6666Z" stroke="#110F0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M20.5074 22.4139C21.0815 24.1473 22.3924 24.3206 23.3999 22.8039C24.3207 21.4173 23.714 20.2798 22.0457 20.2798C20.8107 20.2689 20.1174 21.2331 20.5074 22.4139Z" stroke="#110F0F" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link p-2 color-black" href="#">
                            <svg width="26" height="26" viewBox="0 0 26 26" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M13.0216 3.15247C9.43581 3.15247 6.52164 6.06663 6.52164 9.65247V12.7833C6.52164 13.4441 6.23997 14.4516 5.90414 15.015L4.65831 17.0841C3.88914 18.3625 4.41997 19.7816 5.82831 20.2583C10.4975 21.8183 15.535 21.8183 20.2041 20.2583C21.515 19.825 22.0891 18.2758 21.3741 17.0841L20.1283 15.015C19.8033 14.4516 19.5216 13.4441 19.5216 12.7833V9.65247C19.5216 6.07747 16.5966 3.15247 13.0216 3.15247Z" stroke="#110F0F" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" />
                                <path d="M15.0258 3.46668C14.69 3.36918 14.3433 3.29335 13.9858 3.25002C12.9458 3.12002 11.9491 3.19585 11.0175 3.46668C11.3316 2.66502 12.1116 2.10168 13.0216 2.10168C13.9316 2.10168 14.7116 2.66502 15.0258 3.46668Z" stroke="#110F0F" stroke-width="1.5" stroke-miterlimit="10" stroke-linecap="round" stroke-linejoin="round" />
                                <path d="M16.2717 20.6483C16.2717 22.4358 14.8092 23.8983 13.0217 23.8983C12.1334 23.8983 11.3101 23.53 10.7251 22.945C10.1401 22.36 9.77173 21.5366 9.77173 20.6483" stroke="#110F0F" stroke-width="1.5" stroke-miterlimit="10" />
                            </svg>
                        </a>
                    </li>
                    <li class="nav-item dropdown">
                        <a id="manageDropdown" class="nav-link dropdown-toggle p-2 text-black pointer" href="#" data-bs-toggle="dropdown" aria-expanded="false">
                            <svg class="ms-1" width="26" height="26" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M18 18.7023C18 15.6706 14.5 15 12 15C9.5 15 6 15.6706 6 18.7023M21 12C21 16.9706 16.9706 21 12 21C7.02944 21 3 16.9706 3 12C3 7.02944 7.02944 3 12 3C16.9706 3 21 7.02944 21 12ZM15 9C15 10.6569 13.6569 12 12 12C10.3431 12 9 10.6569 9 9C9 7.34315 10.3431 6 12 6C13.6569 6 15 7.34315 15 9Z" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round" />
                            </svg>
                            @(UserManager.GetUserName(User).Split('@')[0])
                        </a>
                        <ul class="dropdown-menu p-2 text-end">
                            <li>
                                <a id="manageProfile" class="dropdown-item nav-link p-2" style="color:var(--main-color);" asp-area="Identity" asp-page="/Account/Manage/Index" title="Manage">تعديل ملفك الشخصي</a>
                            </li>
                            <li class="nav-item">
                                <form id="logoutForm" class="dropdown-item p-0" asp-area="Customer" asp-controller="Home" asp-action="Index">
                                    <button id="logout" type="submit" class="nav-link p-2 bg-transparent border-0" style="color:var(--main-color);">الخروج</button>
                                </form>
                            </li>
                        </ul>
                    </li>
                </ul>
            </nav>

            <main class="container col-10 d-flex flex-column h-100 p-0">
               
                    @RenderBody()
                 
            </main>
        </div>
    </div>








<partial name="_ScriptsPartial"></partial>

<script src="~/js/Admin/dashboardLayout.js" asp-append-version="true"></script>

@await RenderSectionAsync("Scripts", required: false)

</body>
</html>



